* {
    font-family: 'Old Standard TT', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    background-color: #3A3F41;
    height: 80px;
    display: block;
    padding-top: 10px;
    margin: auto;
    width: 800px;

}

.title {
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;


}

nav {
    background-color: rgb(212, 199, 123);
    display: block;
    padding-top: 15px;
    margin: auto;
    width: 800px;

}


label {
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

input {
    line-height: 50px;
    width: 600px;
    margin-bottom: 15px;
    font-size: 30px;
    margin-left: 10px;
    padding-left: 15px;

}

input::placeholder {
    color: black;
    font-weight: 20px;
    font-size: 20px;

}

main {
    margin: auto;
    background-color: antiquewhite;
    height: 580px;
    width: 800px;

}


section {
    display: flex;
    line-height: 80px;
    font-size: 50px;
    font-weight: bolder;

}

#title {
    display: flex;
    padding-left: 130px;
}

.p {
    padding-right: 50px;
}

.img {

    height: 150px;
}

#firstImg {
    margin-left: 155px;
}

#secondImg {
    margin-left: 200px;
}

button {
    background: black;
    border-radius: 20.5px;
    color: aliceblue;
    width: 200px;
    height: 55px;
    font-size: 30px;
    margin-left: 50px;
    cursor: pointer;
}

.result {
    margin-top: 5px;
    background-color: purple;
    color: whitesmoke;
    height: 70px;
}

#status {
    margin: auto;
}

.score { 
    
    height: 50px;
}

#scoreboard {
    
    font-size: 35px;
    margin: auto;
    
}

.numbers{
    display: flex;
}

.you{
    padding-left: 120px;
    padding-right: 70px;
}
.zero{
    padding-left: 160px;
}

#zerozerozero{
    
    font-size: 80px;
    
}
#zerozero{
    padding-left: 220px;
    font-size: 80px;
    
}

footer {
    padding-top: 10px;
    color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    margin: auto;
    width: 800px;
}

#rules {
    font-size: 30px;
}

#rulesrules {
    padding-top: 10px;
}

button:hover{
    color:gray
}

button:active{
    color: purple;
}