* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./Assets/fundo.jpg");
}

header {
    background-color: #3A3F41;
    height: 80px;
    display: block;
    padding-top: 10px;
    margin: auto;
    width: 800px;

}

.title {
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;


}

nav {
    background-color: rgb(212, 199, 123);
    display: block;
    padding-top: 15px;
    margin: auto;
    width: 800px;

}


label {
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

input {
    line-height: 50px;
    width: 400px;
    margin-bottom: 15px;
    font-size: 30px;
    margin-left: 10px;
    padding-left: 15px;

}

#start{
width: 150px;
margin-left: 10px;
background-color: darkblue;
color: white;
border: white;
font-size: 25px;

}
#start:hover{
    background-color: blueviolet;
}
#start:active{
    color: black;
}
input::placeholder {
    color: black;
    font-weight: 20px;
    font-size: 20px;

}

main {
    margin: auto;
    background-color: antiquewhite;
    height: 580px;
    width: 800px;

}


section {
    display: flex;
    line-height: 80px;
    font-size: 50px;
    font-weight: bolder;

}

#title {
    display: flex;
    padding-left: 100px;
}

.p {
    font-family: 'Cinzel Decorative', cursive;
    padding-right: 60px;
    font-size: 40px;
}

.img {

    height: 150px;
}

#firstImg {
    margin-left: 155px;
}

#secondImg {
    margin-left: 200px;
}

button {
    background: black;
    border-radius: 20.5px;
    color: aliceblue;
    width: 200px;
    height: 55px;
    font-size: 30px;
    margin-left: 50px;
    cursor: pointer;
}

.result {
    margin-top: 5px;
    background-color: purple;
    color: whitesmoke;
    height: 70px;
}

#status {
    margin: auto;
}

.score {

    height: 50px;
}



.numbers {
    padding-top: 20px;
    display: flex;
}

.you {
    font-family: 'Caesar Dressing', cursive;
    padding-left: 120px;
    padding-right: 70px;
}

.zero {
    padding-left: 160px;
    font-family: 'Caesar Dressing', cursive;
   
}

#zeroMy {
    padding-top: 5px;
    font-size: 70px;

}

#zeroPc {
    padding-left: 260px;
    font-size: 70px;

}

footer {
    background-color: azure;
    
    padding-top: 10px;
    color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    margin: auto;
    width: 800px;
}

#rules {
    font-family: 'Old Standard TT', serif;
    font-size: 30px;
    opacity: 10;
    color: black;
}

#rulesrules {
    font-family: 'Old Standard TT', serif;
    padding-top: 10px;
    opacity: 10;
    color: black;
}

button:hover {
    color: gray;
    background-color: #3A3F41;
    
}

button:active {
    color: purple;
    background-color: white;
}

@media screen and (max-width:806px) {
    body {
        width: 100%;
    }

    header {
        width: 390px;
    }

    .title {
        
        font-size: 30px;
    }

    nav {
        width: 390px;
    }

    .input {
        width: 200px;
    }

    main {
        width: 390px;
    }

    #title {
        font-size: 20px;
        padding-left: 10px;
    }

    .img {
        height: 100px;
    }

    #firstImg {
        margin-left: 40px;
    }

    #secondImg {
        margin-left: 120px;
    }

    #buttons {
        padding: 5px;
    }

    #buttonStone {
        font-size: 20px;
        width: 300px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0px;
    }

    #buttonPaper {
        font-size: 20px;
        width: 300px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 30px;
    }

    #buttonScissors {
        font-size: 20px;
        width: 300px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 30px;
    }
    .p{
        font-size: 20px;
        padding-right: 20px;
        margin-left: 20px;
    }

    .result {
        width: 390px;
    }

    #status {
        font-size: 25px;
    }

    .numbers {
        width: 390px;
        padding-top: 10px;
        
    }

    .you {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 25px;
        
    }
    #zeroMy{
        font-size: 60px;
        padding-left: 70px;
    }
    #zeroPc{
        font-size: 60px;
        padding-left: 100px;
    }
    footer {
        width: 390px;
    }
    #start{
        margin-left: 140px;
        margin-bottom: 5px;
        width: 100px;
        height: 50px;
    }
}